body{
    margin: 0;
    text-align: center;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #DFE8FF;
    background-image:url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;


}
.box{
    background-color: white;
    max-width: 31vw;
    max-height: 90vh;
    padding-bottom: 1.5rem;

    /* to make it responsive */
    min-height: 35.5rem;
    min-width: 21rem;


    /* position: fixed;
    inset: 0;
    margin: auto; */
    /* justify-content: space-between; */
    /* align-items: center; */

    border-radius: 1rem;
    overflow: hidden;

    /* padding: 3.2rem; */
    box-sizing: border-box;
}
.content{
    color: #979BAB;
    font-size: large;
}
.plans{
    margin: 0 auto;
    max-height: 11vh;
    max-width: 24vw;
    background-color: #F8F9FE;
    margin-left: 11%;
    border-radius: 1rem;
    padding: 0.6rem;
    box-sizing: border-box;
    /* text-align: left; */
    display: flex;

    /* size responsive */
    min-width: 17rem;
    min-height: 5rem;
}
.music{
    width: 4rem;
    /* flex-shrink: 0; */
}
.annual{
    font-size: larger;
    color: #979BAB;
    width: 12.25rem;
}
.change{
    text-decoration: underline;
    color: #5448D0;
    margin-top: 7%;
    font-size: medium;
    font-weight: 800;
    &:hover{
        text-decoration: none;
    }
}
.pay{
    background-color: #382AE1;
    color: white;
    border: 1px solid #382AE1;
    max-width: 50vw;
    height: 6.2vh;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-shadow: 0px 20px 20px 0px #DEDBF8;
    margin-top: 2.5rem;
    transition: transform 1s;
    min-width: 17rem;
    
    &:hover{
        transform: rotate(360deg);
        background-color: #766CF1;
    }
}
.cancel{
    color: #979BAB;
    border: 1px solid white;
    background-color: white;
    margin-top: 1rem;
    font-size: medium;
    font-weight: 700;
    transition: transform 2s;

    &:hover{
        color: #3A425B;
    }
}
.hero{
    width: 100%;
}